<% include includes/head.ejs %>
<center>
    <font color="#f5f5f5">
        <h1>Matcha <img id="errlogo" src="/img/logo.png"/></h1><br/><br/><br/>
        <%= info %>
        <br/><br/>
        <a href="/">Retour à l'accueil</a>
    </font>
</center>
</body>
</html>