<% include includes/head.ejs %>
<center>
    <font color="#f5f5f5">
        <h1>Matcha <img id="errlogo" src="/img/logo.png"/></h1><br/><br/><br/>
        Vous avez bloqué cet utilisateur
        <br/><br/>
        <a href="/unbloc/<%= blocked%>">Débloquer</a>
        <br/>
        <a href="/profile">Retour au profil</a>
    </font>
</center>
</body>
</html>